
#part3 {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #8e8e8e;
}

.interact {
    height: var(--part3-interact-height);
}

.margin {
    height: var(--part3-margin-height);
    background-color: #bcbcbc;
}

.next {
    height: var(--part3-next-height);
}
