#part2 {
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: #E0E0E0;
}


.graph {
    height: var(--part2-graph-height);
    background-color: #c1c1c1;
}

.button-line {
    display: flex;
    flex-direction: row ;
    height: var(--part2-line-height);
    background-color: #8e8e8e;
    gap: 10px;
}

.button-line>button {
    display: flex;
    text-align: center;
    width: 10%;
    height: 100%;
}

#view {
    height: var(--part2-view-height);
}

.table {
    background-color: #ececec;
}

.news {
    background-color: #c27979;
}
