#part1 {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #F5F5F5;
}

.part>* {
    width: 100%;
}

.logo {
    height: var(--part1-logo-height);
}

.step {
    height: var(--part1-step-height);
    background-color: #8e8e8e;
}

.step>button {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.info {
    height: var(--part1-info-height);
}
