.clickCard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(96, 96, 96, 0.7);
    z-index: 1000;
}


.clickCard__inner {
    width: 800px;
    height: 400px;
    background-color: var(--body-color);
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.395);
}

.x-cont {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

.x-cont p {
   padding: 24px;
}

.innerText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.clickCard__inner h1 {
    padding: 55px;
}


.innerText p {
    font-size: 1.2rem;
    padding: 0 50px;
}