.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section {
  position: relative;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #FFD601;
  margin-bottom: 100px;
}

.section-text {
  width: 50%;
  gap: 10px;
}

.section-text > #h1 {
  font-size: 40px;
  font-weight: bold;
}

.section-text > #h2 {
  color: #404040;
  font-size: 30px;
}

.container p {
  z-index: 99999;
  position: absolute;
  top: 10%;
  left: 13%;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.learning{
  width: auto;
  height: auto;
  margin: 30px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.learning-container > p {
  color: #000000;
  position: absolute;
}

.learning-container {
  position: relative;
  height: 100%;
  width: 100vw;
  padding-top: 40px;
  margin-bottom: 10vw;
}

.slide-show-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgba(20, 43, 111, 0.9);
  height: 300px;
  width: 100vw;
  padding-bottom: 40px;
  overflow: hidden;
}

.video-container {
  display: flex;
}

.video-wrapper {
  margin: 0 20px;
}

.video-wrapper > iframe {
  background-color: aliceblue;
  border-radius: 10px;
}

.video-wrapper:first-child img,
.video-wrapper:last-child img {
  opacity: 0.5;
}

.slide-show-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 99999;
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.slide-show-container button:nth-of-type(1) {
  left: 150px;
}

.slide-show-container button:nth-of-type(2) {
  right: 150px;
}

.learn{
  position: relative;
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
  width: 450px;
  height: 250px;
  padding: 20px;
  overflow: hidden;
  background-color: #404040;
  border-radius: 10px;
}


.learn > img{
  position: absolute;
  top: 0;
  left: 0;
}
.learn > button{
  width: 25%;
  height: 10%;
  background-color: #FFD601;
  border: #FFD601;
  border-radius: 25px;
}
.learn > h2{
  color: aliceblue;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(20, 43, 111, 81%) 0%, rgba(0, 0, 0, 0) 50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.learn:hover .overlay {
  opacity: 1;
}
.learn:hover button,
.learn:hover h2 {
  display: block;
}
.learn button,
.learn h2 {
  position: relative;
  z-index: 1; 
  display: none;
}