.body {
    width: 100%;
    height: 100%;
}

.ranking {
    width: 100vw;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: var(--second-color); 
    font-size: 20px;
    min-height: 100vh;
}

.rank {
    background-color: var(--body-color);
    width: 900px;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    text-align: center;
}

.rank th {
    background-color: var(--gray2);
}

.rank tr {
    height: 60px;
}

.rank td {  
    margin: 0 auto;
}

.rankNum {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rankNum1 {
    background-color: #FFE923; 
}

.rankNum2 {
    background-color: #E6E6E6;
}

.rankNum3 {
    background-color: #E3CDAB;
}

.rankName {
    width: 100%;
    text-align: center;
}

.highlightedRow {
    background-color: rgba(255, 214, 1, 0.5);
}