/* 1920 x 1080 해상도 기준 */
@font-face {
    font-family: 'PretendardVariable';
    /* src: url('../font/PretendardVariable.ttf') format('ttf'); */
}

:root {
    --card-height: 100px;
}
.body{
    width: 100vw;
}
* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    border: 0px;
}

.section {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFD601;
}

.section-text {
    width: 50%;
    gap: 10px;
}

.section-text>p {
    margin-left: 18vw;
}

.section-text>#h1 {
    font-size: 40px;
    font-weight: bold;
}

.section-text>#h2 {
    color: #404040;
    font-size: 30px;
    font-weight: bold;
}

.section-text>#h3 {
    color: #404040;
    font-size: 20px;
    font-weight: bold;
}

.game {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #142B6F;
    gap: 50vw;
}

.game>p {
    color: white;
}

.game>button {
    color: white;
    background-color: #142B6F;
    padding: 10px 20px;
    border-radius: 50px;
    border: 4px solid white;
}

.cardTitleList {
    display: flex;
    flex-direction: column;
    margin: 20vh 0;
}

.cardTitleList-10 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20vh 0;
}

#btn_list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.wordText {
    border: 1px solid #979797;
    border-radius: 50px;
    padding: 5px 30px;
}

.cardList {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 10vw;
    gap: 20px;

    transition: margin-bottom 0.2s ease-in-out;
}

.cardList>h2 {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow-y: hidden;
    gap: 40px;
    padding: 10px 0;
}


.card {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 99%;
    height: calc((99vw / 15));
    border: 1px solid rgba(66, 66, 66, 0.74);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card>p {
    width: 100%;
}

.detail-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    /* Ensure it's below the detail popup */
}

.detail-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity as needed */
    backdrop-filter: blur(5px);
    /* Adjust the blur radius as needed */
    z-index: -1;
    /* Push it behind the content */
}

.detail {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detail>div {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detail>div>h3 {
    margin-bottom: 30px;
}

.detail>button {
    z-index: 10000;
    position: fixed;
    top: 10%;
    right: 10%;
}

.hidden {
    display: none;
}