#studyGameDetail {
    width: 100vw;
    height: calc(100vh - 50px);
    margin-top: 50px;
    background-color: var(--second-color);
    display: flex;
    align-items: center;
}

.studyGameDetail {
    width: 100%;
    height: calc(100vh - 50px);   
    display: flex;
    justify-content: center;
    align-items: center;
}


.StudyGameDetail__inner {
    width: 70vw;
    height: 80vh;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.StudyGameDetail__inner .round {
    padding: 60px 0 25px 0;
}

.StudyGameDetail__inner .card_inner {
    display: flex; 
}

.StudyGameDetail__inner .card_inner p {
   margin-top: 150px;
}

.StudyGameDetail__inner .card_inner .card {
    width: 700px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 25px;

    display: flex;
    flex-direction: column;

}

.card .card_word, .card .card_word_exp {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card_word {
    background-color: var(--gray1);
   
}

.card .card_word_exp {
    background-color: var(--first-color);
}


.card_inner .knowButton, .card_inner .nextButton {
    border-radius: 10px;
    width: 240px;
    height: 65px;
    border: none;
    box-shadow: 0 3px 1px 1px  rgba(0, 0, 0, 0.3);
    margin: 35px;
}

.card_inner .knowButton {
    background-color: var(--gray1);
    color: var(--second-color);
    
}

.card_inner .nextButton {
    background-color: #142B6F;
    color: #FFFFFF;
}
