:root{
    --first-color: #FFD601;
    --second-color: #2C417E;
    --body-color: #ffffff;

    --yellow1: rgba(255, 214, 1, 0.25);
    --yellow2: #FFF1A7;
    --black: #000000;
    --gray1: #E1DEE6;
    --gray2: #E7E7E7;
    --gray3: #C6C6C6;
    --redColor: #FF3C3C;

    --header-height: 5vh;
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../PretendardVariable.woff2') format('woff2-variations');
}

/* 폰트 적용 */
h1, h2, h3, h4, h5, h6, p, li, span, div, td {
    font-family: 'Pretendard Variable';
}


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    width: 100vw;
    height: var(--header-height);
}

#hidden{
    display: none;
}


