.VirtualOverallResult {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.VirtualOverallResult-inner {
    width: 1200px;
    height: 600px;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.VirtualOverallResult .inner-header {
    width: 100%;
    height: 60px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.VirtualOverallResult .inner-header p {
   text-align: center;
   margin: 0 auto;
   padding-left: 30px;
}

.VirtualOverallResult .inner-cont {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner-cont .day-table, .inner-cont .result-table {
    width: 750px;
    height: 110px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background-color: var(--gray3);
} 

.inner-cont .result-table td {
    background-color: var(--body-color);
}

.inner-cont .day-table {
    margin: 50px;
}

.inner-cont .result-table {
    height: 195px;
}

.inner-cont .result-table th {
    height: 50px;
}

.inner-cont .result-table tr td {
    width: 50%;
}

.inner-cont .nextButton {
    width: 210px;
    height: 55px;
    margin-top: 45px;
    border-radius: 30px;
    background-color: var(--yellow2);
    color: var(--second-color);
}