.VirtualOverallResult {
    position: fixed;
  top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: 10000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(96, 96, 96, 0.7);
}

.VirtualOverallResult-inner {
    width: 1200px;
    height: 600px;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.VirtualOverallResult .inner-header {
    width: 100%;
    height: 60px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.VirtualOverallResult .inner-header p {
   text-align: center;
   margin: 0 auto;
   padding-left: 30px;
}

.VirtualOverallResult .inner-cont {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner-cont .day-table, .inner-cont .result-table {
    border-collapse: collapse;
    width: 750px;
    height: 110px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background-color: var(--gray4);
} 

.inner-cont .result-table td {
    background-color: var(--body-color);
}

.inner-cont .day-table {
    margin: 50px;
}

.day-table td {
    height: 50px;
    color: #747474;
}

.pro {
    padding-top: 10px;
    font-size: 28px;
    color: var(--black2);
}

.inner-cont .result-table {
    height: 195px;
}

.inner-cont .result-table th {
    height: 50px;
}

.inner-cont .result-table tr td {
    width: 50%;    
}

.inner-cont .result-table thead tr th:last-child {
    border-style: none;
    border-left: 0.4px var(--black) solid;
}

.inner-cont .nextButton {
    width: 210px;
    height: 55px;
    width: 210px;
    height: 55px;
    margin-top: 45px;
    border-radius: 30px;
    background-color: var(--yellow2);
    color: var(--second-color);
    font-size: 16px;
    font-weight: 600;
}

.totalReview {
    font-size: 22px;
    border-left: 0.4px var(--black) solid;
}

