.VirtualThisResult {
    position: fixed;
  top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: 10000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(96, 96, 96, 0.7);
}


.VirtualThisResult .result-inner {
    width: 1200px;
    height: 600px;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.result-inner .inner-header {
    width: 100%;
    height: 60px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.result-inner .inner-header p {
   text-align: center;
   margin: 0 auto;
   padding-left: 30px;

}

.result-inner .inner-cont {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.result-inner .inner-cont .cont {
    width: 864px;
    height: 288px;
    background-color: var(---body-color);
    border-radius: 10px;
    display: flex;
    margin-top: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.result-inner .inner-cont .cont .sub, 
.result-inner .inner-cont .cont .assess {
    width: 50%;
}

.sub-title, .assess-title {
    width: 100%;
    height: 71px;
    background-color: var(--gray2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.assess-title, .assess-cont {
    border-left: 0.4px var(--black) solid;
}

.sub-cont, .assess-cont {
    width: 100%;
    background-color: var(--body-color);
    height: 217px;
    display: flex;
    align-items: center;
}

.sub-cont ul li {
    padding: 20px;
}

.assess-cont {
    justify-content: center;
}

.result-inner .inner-cont .nextButton {
    width: 210px;
    height: 55px;
    margin-top: 45px;
    border-radius: 30px;
    background-color: var(--yellow2);
}